
<div id="<%= dom_id game %>" class="contenu">
    <a href="/app/assets/stylesheets/index.css">
        <div class="cote-image">
            <img src="<%= game.image %>" alt="image du jeu <%= game.titre %>">
        </div>

        <div class="cote-texte">
            <div class="titre">
                <p><strong>Titre:</strong> <%= game.titre %> </p>
            </div>

            <div class="description">
                <p><strong>Description:</strong> <%= game.description %> </p>
            </div>

            <div class="date">
                <p><strong>Date:</strong> <%= game.date %> </p>
            </div>

            <div class="dev">
                <p><strong>Developpeur:</strong> <%= game.developpeur %> </p>
            </div>

            <div class="img">
                <p><strong>Image:</strong> <%= game.image %> </p>
            </div>
        </div>
    </a>
</div>

