
<div id="<%= dom_id game %>" class="contenu">
  <p>
    <strong>Titre:</strong>
    <%= game.titre %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

  <p>
    <strong>Developpeur:</strong>
    <%= game.developpeur %>
  </p>

  <p>
    <strong>Image:</strong>
  </p>
<div class="row justify-content-center">
<img src="<%=game.image%>" alt="image du jeu <%=game.titre%>"> 
</div>
  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

</div>
