<div id="<%= dom_id game %>">
  <p>
    <strong>Titre:</strong>
    <%= game.titre %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

  <p>
    <strong>Developpeur:</strong>
    <%= game.developpeur %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= game.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

</div>
