<p style="color: green"><%= notice %></p>

<h1>Games</h1>
<h2>Guys</h2>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
    <img src="<%=game.image%>" alt="image du jeu <%=game.titre%>">
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<%= link_to "New game", new_game_path %>
