
<p style="color: green"><%= notice %></p>
<div class="top"><h1 class="text-center">NOSTALGIA</h1>
<p class="text-center">Replongez en enfance.</p></div>

<div id="games" class="container-fluid">
  <div class="text">
<p class="text-center description presentation">Explorez les jeux-vidéo de votre enfance sur notre site dédié aux classiques des années 1990-2010.</p>
<p class="text-center description">Plongez dans la nostalgie des titres emblématiques qui ont marqué cette époque. Que vous soyez un gamer passionné ou un joueur occasionnel, revivez la magie des pixels et des aventures qui ont marqué toute une génération.</p>
</div>
  <% @games.each do |game| %>
    <!--<%= render game %>-->
    <div class="row justify-content-center bg-image ">
    <img class=" col-sm-6" src="<%= game.image %>">
    <p class="text-center link">
      <%= link_to game.titre, game %>
      
    </p>
    </div>
    
  <% end %>
  <p class="text-center">
<button type="button" ><%= link_to "Ajouter un jeu", new_game_path %></button>
</p>
</div>
