<p style="color: green"><%= notice %></p>

<!--<%= render @game %>-->

<!-- Tu n'as plus qu'à mettre en page avec un fichier css, 
tous les éléments RUBY sont séparés en éléments html -->

<img class="col-4"src="<%= @game.image%>">
<h1><%= @game.titre%></h1>
<p><%= @game.description%></p>
<p><%= @game.developpeur%></p>
<p><%= @game.date%></p>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
