<p style="color: green"><%= notice %></p>
<link href="app/assets/stylesheets/show.css">

<div class=bon-affichage-max>

<div class="toute-la-page">
<img class="col-4"src="<%= @game.image%>">
<div class="cote-image-gauche">
  
</div>

<div class="cote-texte-droit">
<h1><%= @game.titre%></h1>
<p class="description-un"><%= @game.description%></p>
<p class="developpeur"><%= @game.developpeur%></p>
<p class="date"><%= @game.date%></p>
</div>
</div>

<div class="edit">
  <%= link_to "Edit this game", edit_game_path(@game) %> |

  <%= link_to "Back to games", games_path %>
  </div>
<div class="destroy">
  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
</div>