<p style="color: green">
  <%= notice %>
</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <img class="img-fluid color" src="<%= @game.image%>">>
    </div>
    <div class="col-md-6 infos">
      <h1><%= @game.titre%></h1>
      <p class="description-un"><%= @game.description%></p>
      <p class="developpeur"><%= @game.developpeur%></p>
      <p class="date"><%= @game.date%></p>
    </div>
  </div>
  <div class="commandes">
    <div class="edit">
      <%= link_to "Edit this game" , edit_game_path(@game) %> |
      <%= link_to "Back to games" , games_path %>
    </div>
    <div class="destroy">
      <%= button_to "Destroy this game" , @game, method: :delete %>
    </div>
  </div>
</div>